<p>Hey again, it's <a href="https://twitter.com/joshmn">@joshmn</a>, back with your second drip!</p>
<p>There are a few upcoming features as of writing. <a href="https://github.com/joshmn/caffeinate/projects/1">Follow along on GitHub</a>!</p>
<p>If you have any features you'd like to see, or have a use-case that you think should be covered, just hit that reply
button. :)</p>
<p>Thanks again for giving Caffeinate some consideration! It's flattering and I hope that I can make your app development
a little less painful.</p>
