<p>Hey, it's @joshmn, the guy who made Caffeinate. Thanks for giving Caffeinate a try.</p>
<p>Doing so might just be the second-best decision you've made in 2020. The first-best would be wearing a mask.</p>
<p>I made Caffeinate because I wanted to control the entire lifecycle of my campaigns. I'm a serial SaaS founder and these
  kind of things matter to me. I also wanted something that integrated nicely into my existing tools:
  ActionMailer and ActiveRecord.</p>
<p>I've always loved the concept of email. When used correctly, it's powerful and cost-effective; so much so that there
  are endless startups and enterprises that build tools on top of email. The problem is that they're out of reach
  for most bootstrapped founders. They know this, too, which is why they'll give you a discounted first year so that you
  get in bed with them. After that year is up, they hope you'll find it difficult to leave because all your data is with
  them and your technical stack is married to them.</p>
<p>While Caffeinate doesn't solve all the problems that products like Intercom or Front solve, it allows you — a developer —
to seamlessly and effortlessly add an important tool to your toolbox that's owned by you.</p>
<p>If you have any questions, comments, feedback, or just want to chat, hit that reply button — I'm listening!</p>
