<footer class="pt-4 pt-md-5 pb-2 mt-md-4 pb-md-4 bg-white">
  <div class="container">
    <hr class="my-4">
    <div class="row">
      <div class="col-sm-5 order-sm-2">
        <div class="social-icons">
          <a href="javascript:void(0);" class="h5">
            <i class="fa fa-github"></i>
          </a>
          <a href="https://twitter.com/joshmn" class="h5">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-7">
        <p class="small text-gray-600 text-center text-sm-left">&copy; <%= Time.current.year %> Josh Brody. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
