<header class="muse-header py-0 py-sm-2">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/">
        <%= image_tag('logotype-h.png', style: "max-height:96px") %>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <svg class="menu-icon" data-name="icons/tabler/hamburger" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16">
          <rect data-name="Icons/Tabler/Hamburger background" width="16" height="16" fill="none"/>
          <path d="M15.314,8H.686A.661.661,0,0,1,0,7.368a.653.653,0,0,1,.593-.625l.093-.006H15.314A.661.661,0,0,1,16,7.368a.653.653,0,0,1-.593.626Zm0-6.737H.686A.661.661,0,0,1,0,.632.654.654,0,0,1,.593.005L.686,0H15.314A.661.661,0,0,1,16,.632a.653.653,0,0,1-.593.625Z" transform="translate(0 4)" fill="#ffffff"/>
        </svg>
        <svg class="menu-close" data-name="icons/tabler/close" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16">
          <rect data-name="Icons/Tabler/Close background" width="16" height="16" fill="none"/>
          <path d="M.82.1l.058.05L6,5.272,11.122.151A.514.514,0,0,1,11.9.82l-.05.058L6.728,6l5.122,5.122a.514.514,0,0,1-.67.777l-.058-.05L6,6.728.878,11.849A.514.514,0,0,1,.1,11.18l.05-.058L5.272,6,.151.878A.514.514,0,0,1,.75.057Z" transform="translate(2 2)" fill="#ffffff"/>
        </svg>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://rubydoc.info/gems/caffeinate/">Code Documentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/joshmn/caffeinate/tree/master/docs">Getting Started Guide</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/joshmn/caffeinate">Github</a>
          </li>
        </ul>
        <a href="<%= campaigns_path %>" class="btn btn-lg btn-outline-primary my-3 my-lg-0 mr-2">Try it live</a>
      </div>
    </nav>
  </div>
</header>
